<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script defer src="http://localhost:5001/socket.io/socket.io.js"></script>
    <script defer src="home.js"></script>
    <link rel="stylesheet" href="chatpage.css">
</head>

<body>
    <h1>HOME</h1><br>
    <form action="" method="post">
        <p>Welcome <span class="fname"><%=usr.fname%></span>
        </p>
        <button>Logout</button>
    </form>
    <div class="left">
       
            <label>Search-</label>
            <input type="text" id="ns" name="ns"><br><br>
            <div id="dec"></div>
            <input type="submit" value="Submit" onclick="search()">

        <!-- <div class="usn">
            Sneha
        </div>

        <div class="usn">
            Praharsh
        </div>
        <div class="usn">
            csjbc
        </div> -->

    </div>

    <div class="right">
        <div id = "toname">
            Name
        </div>
        
        <div>
            <div class="m l">hey !</div>
            <div class="m r">from me !</div>
        </div>
        <div style="width:79%; height: 100%; float:right;">
            <form action="" method="post" class="cmsg">
                <label>Type a message-</label>
                <input type="text" id="ns" name="ns"><br><br>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>

</body>

</html>